ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

ul li{
    margin: 10px;
    color: white;
}

ul a{
    text-decoration: none;
}

li:hover{
    color: aqua;
}


div .skills{
    background-color: rgb(40, 198, 198);
    margin: 15px;
    padding: 10px;
    border-radius: 25px;
    color: white;
}

#project:hover{
    background-color: rgb(235, 232, 232);
}